<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="match_parent">
        <EditText
            android:id="@+id/lugarEditText"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:hint="Ciudad a visitar" />
        <DatePicker
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/idaDatePicker"
            android:minWidth="25px"
            android:minHeight="25px" />
        <DatePicker
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/regresoDatePicker"
            android:minWidth="25px"
            android:minHeight="25px" />
        <Button
            android:text="Guardar"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/guardarButton" />
    </LinearLayout>
</ScrollView>